/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub,  tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(223, 234, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Table {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
    max-width: 960px;
    text-align: center;
}

.Pricing-Type {
    border: 1px solid #FFFFFFff;
    background-color: #FFFFFFff;
    margin: 15px 0;
}

.Pricing-Type.as-border {
    border: 2px solid #8790A2ff;
}

.pricing-icon {
    margin-bottom: 25px;
    max-width: 100%;
    border-bottom: 1px solid #8790A2ff;
}
.price {
    color: rgb(41, 34, 41);
    display: block;
    font-size: 36px;
    font-weight: 950;
}
.price .price-quote {
    font-size: 20px;
}

.pricing-tag {
    color: rgb(110, 225, 248);
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 15px;
    text-transform: uppercase;
}
.pricing-features {
    margin: 15px 0 15px;
    color: rgb(104, 102, 107);
}
.pricing-feature-item {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 900;
    padding: 5px 0;
}
.pricing-button {
    border: 1px solid #8EEDFFff;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    background-color: #8EEDFFff;
    color: rgb(104, 102, 107);
    padding: 10px 50px;
    margin-bottom: 35px;
    font-size: 12px;
    font-weight: 800;
    transition: background-color 200ms ease-in-out;
}
.pricing-button:hover, .pricing-button:focus {
    background-color: #e1f1ff;
}
.header {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(41, 34, 41);
}

@media (min-width: 960px) {
    .Table{
        flex-direction: row;
    }
    .Pricing-Type{
        margin: 0 10px 0;
        padding: 15px 35px;
    }
}